flows (3).json
[{"id":"318f98fa.e0cdf8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9be2f3f5.b0144","type":"function","z":"318f98fa.e0cdf8","name":"PreToken","func":"global.set(\"pr\",msg.payload.pr)\nglobal.set(\"pl\",msg.payload.pl)\nglobal.set(\"pre\",msg.payload.pre)\nglobal.set(\"sk\",msg.payload.sk)\nglobal.set(\"te\",msg.payload.te)\nglobal.set(\"ma\",msg.payload.ma)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"ag\",msg.payload.ag)\nvar apikey=\"8hs-dDFFkFTk2NWkDUpRLxYQS3NkTaJfRcdvnrR6oJ11\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":720,"wires":[["a9c244f5.ec39b8"]]},{"id":"a9c244f5.ec39b8","type":"http request","z":"318f98fa.e0cdf8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":459,"y":708.9999952316284,"wires":[["440a3012.4c9df"]]},{"id":"be89efca.41cc9","type":"debug","z":"318f98fa.e0cdf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":898.0000114440918,"y":450.99999713897705,"wires":[]},{"id":"440a3012.4c9df","type":"function","z":"318f98fa.e0cdf8","name":"Pre Prediction","func":"var pr = global.get('pr')\nvar pl = global.get('pl')\nvar pre = global.get('pre')\nvar sk = global.get('sk')\nvar te = global.get('te')\nvar ma = global.get('ma')\nvar pe = global.get('pe')\nvar ag = global.get('ag')\nvar token=msg.payload.access_token\nvar instance_id=\"72a0ccb4-cb82-4b7d-a652-4fc15ac12961\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"preg\", \" plas\", \"pres\", \"Skin \", \"test\", \"mass\", \"pedi\", \"age\"], \"values\": [[pr,pl,pre,sk,te,ma,pe,ag]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":656.0000076293945,"y":671.9999990463257,"wires":[["7f2f390b.da07c8"]]},{"id":"7f2f390b.da07c8","type":"http request","z":"318f98fa.e0cdf8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/6b5efc57-6b18-4ccf-adcc-a8a0f8bc3f1c/predictions","tls":"","persist":false,"proxy":"","authType":"","x":749.5000076293945,"y":615.9999990463257,"wires":[["5e3e6fe6.bef79","be89efca.41cc9"]]},{"id":"dbb199c1.4d6908","type":"ui_form","z":"318f98fa.e0cdf8","name":"","label":"","group":"29ad187d.4858a8","order":1,"width":0,"height":0,"options":[{"label":"Preg\t ","value":"pr","type":"number","required":true,"rows":null},{"label":"Plas\t","value":"pl","type":"number","required":true,"rows":null},{"label":"Pres\t","value":"pre","type":"number","required":true,"rows":null},{"label":"Skin \t","value":"sk","type":"number","required":true,"rows":null},{"label":"Test\t","value":"te","type":"number","required":true,"rows":null},{"label":"Mass\t","value":"ma","type":"number","required":true,"rows":null},{"label":"Pedi\t","value":"pe","type":"number","required":true,"rows":null},{"label":"Age","value":"ag","type":"number","required":true,"rows":null}],"formValue":{"pr":"","pl":"","pre":"","sk":"","te":"","ma":"","pe":"","ag":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":55,"y":762.9999952316284,"wires":[["9be2f3f5.b0144"]]},{"id":"76813ba4.c910e4","type":"ui_text","z":"318f98fa.e0cdf8","group":"29ad187d.4858a8","order":2,"width":0,"height":0,"name":"","label":"Result","format":"{{msg.payload}}","layout":"row-spread","x":777.6000366210938,"y":768.2000074386597,"wires":[]},{"id":"5e3e6fe6.bef79","type":"function","z":"318f98fa.e0cdf8","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":609.6000366210938,"y":511.60000133514404,"wires":[["76813ba4.c910e4"]]},{"id":"29ad187d.4858a8","type":"ui_group","z":"","name":"internship","tab":"48ea20a4.5f63c","order":1,"disp":true,"width":"6","collapse":false},{"id":"48ea20a4.5f63c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]